<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Download YouTube Video</title>

    <style>
        body {
            font-family: sans-serif;
        }
    </style>
    <script src="/javascript/jquery.min.js"></script>
</head>
<body>
    <center>
        <h1>YouTube Downloader</h1>
        <input type="text" placeholder="YouTube URL" name="url" id="url">
        <button id="submit_btn">Download</button>

        <h2>Status: <h2 id="status">None</h2></h2>
    </center>

    <script src="/javascript/index.js"></script>
</body>
</html>